
NASA_API_KEY=""
NASA_APOD_URL="https://api.nasa.gov/planetary/apod?api_key="

ADVICE_URL="https://api.adviceslip.com/advice"

PRODUCT_DATA_URL="https://dummyjson.com/products/category/groceries?limit=10&skip=0&select=id,title,description,category,price,rating,stock,brand,sku,thumbnail"

SUPABASE_URL="https://snorobzwpbajcoyoukll.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNub3JvYnp3cGJhamNveW91a2xsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzIwMTEzMzcsImV4cCI6MjA0NzU4NzMzN30.INJVvqwH4ffByatXhqn8nCLwK8PjK2sGoinBxdl4_rU"